@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.titulo {
  text-shadow: 1px 2px 2px #000;
}

.shadow {
  text-shadow: 1px 2px 2px #000;
}

.subtitulo {
  color: blue;
  margin: 1em 2em;
  font-size: 1.5rem;
}

.imagen {
  max-width: 100%;
}

.centrar {
  text-align: center;
}

.menu {
  list-style: none;
  background: rgba(20, 73, 152, 0.8);
  display: flex;
  margin: auto;
  width: 95%;
  flex-wrap: wrap;
}

.menu li {
  flex: auto;
  text-align: center;
  line-height: 2;
}

.menu a {
  text-decoration: none;
  transition: all 0.3s;
}

.menu a:hover {
  background: #fff;
  display: block;
  color: #00f;
  font-size: 1.1em;
}

.fixed {
  text-shadow: 1px 1px 1px #000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.fixed li {
  background: rgba(0, 0, 255, 0.2);
}

.fixed a {
  color: #fff;
}

/*Termina la sección de NAV----------------*/
.contenido {
  background: rgba(20, 73, 152, 0.4);
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 2em 1em;
}

[class*=caja] {
  box-shadow: 1px 2px 2px 1px #000;
  border-radius: 2%;
  padding: 0.7rem 1rem;
  transition: all 1s;
  text-align: center;
}

[class*=caja]:hover {
  background: rgba(20, 73, 152, 0.7);
  transform: scale(1.1);
  cursor: pointer;
}
[class*=caja]:hover h3 {
  background: #00f;
}

.caja1 {
  width: 50%;
}

.boton {
  background-color: #535555;
  padding: 0.3rem;
  width: 70px;
  border-radius: 6px;
}